{% extends "base.html" %}

{% block extrahead %}
    <html data-lt-installed="true">
        <head>
            <!-- HTML Meta Tags -->
            <title>NGS Data Analysis Handbook</title>
            <meta name="description" content="">

            <!-- Facebook Meta Tags -->
            <meta property="og:url" content="https://ilypopv.github.io/NGS-Handbook/">
            <meta property="og:type" content="website">
            <meta property="og:title" content="NGS Data Analysis Handbook">
            <meta property="og:description" content="">
            <meta property="og:image" content="https://ilypopv.github.io/images/ngs-handbook/metatag.png">

            <!-- Twitter Meta Tags -->
            <meta name="twitter:card" content="summary_large_image">
            <meta property="twitter:domain" content="ilypopv.github.io">
            <meta property="twitter:url" content="https://ilypopv.github.io/NGS-Handbook/">
            <meta name="twitter:title" content="NGS Data Analysis Handbook">
            <meta name="twitter:description" content="">
            <meta name="twitter:image" content="https://ilypopv.github.io/images/ngs-handbook/metatag.png">

            <!-- Meta Tags Generated via https://www.opengraph.xyz -->
        </head>
        <body>
        </body>
    </html>
{% endblock %}